@{
    ViewData["Title"] = "Home Page";
}


<h1 style="text-align: center;">What would you like to do?</h1>

<ul>
    <li><a href="../Home/AddTask">Add Task</a></li>
    <li><a href="../Home/UpdateTask">Update Task</a></li>
    <li><a href="../Home/DeleteTask">Delete Task</a></li>
    <li><a href="../Home/ListTask">List Task</a></li>
</ul>



